data/*
results/*
src/study_reftables_noDOM.R
src/abcrfanalyses.R
src/abcrf.R
src/abcfun.R
src/abcmain.R
src/.Rhistory
.Rproj.user
.Rhistory
bin/bcftools
bin/bgzip
bin/pyegglib21/
bin/slim
bin/tabix
batch.*/
selsim.*
trackingselsim.*
