bin/older_versions/
data/*
results/*
src/older_pipelines/
src/stuff/
src/.Rhistory
.Rproj.user
.Rhistory
#bin/bcftools
#bin/bgzip
bin/pyegglib22/
bin/slim
#bin/tabix
batch.*/
selsim.*
trackingselsim.*
