initialize() {
	defineConstant("mu", 1e-7);
	defineConstant("ne", 500);
	defineConstant("nd", 0.5);
	defineConstant("nf", 0.0);
	defineConstant("np", 1.0);
	defineConstant("gs", 999999);
	defineConstant("rr", 1e-8);
	defineConstant("t1", 25);
	defineConstant("int12", 25);
	initializeMutationRate(mu);
	initializeMutationType("m1", nd, "f", nf);
	initializeGenomicElementType("g1", m1, np);
	initializeGenomicElement(g1, 0, gs);
	initializeRecombinationRate(rr);
}

1 { sim.addSubpop("p1", ne); 
	 sim.rescheduleScriptBlock(s1, start=ne*10, end=ne*10);
	 sim.rescheduleScriptBlock(s2, start=((ne*10)+t1), end=((ne*10)+t1));
	 sim.rescheduleScriptBlock(s3, start=((ne*10)+(t1+int12)), end=((ne*10)+(t1+int12)));
}

s1 late() { cat(sim.mutations.size() + "\t" + sim.generation + "\n"); 
}

s2 late() { cat(sim.mutations.size() + "\t" + sim.generation + "\n"); 
}

s3 late() { cat(sim.mutations.size() + "\t" + sim.generation + "\n"); 
}